<nav class="navBar">
   <div>
    <p>Logo</p>
    </div>
    <div>
    <ul>
        <li><a href="">Inicio</a></li>
        <li><a href="">Productos</a></li>
        <li><a href="">Carts</a></li>
    </ul>
    </div>
</nav>