
{{#if usuario}}
{{>navbarConectado}}

{{else}}

{{>navbarNoConectado}}
{{/if}}


<section class="modal ">
    <input type="email" class="inpDatos" name="email" id="inputEmail" placeholder="Ingrese Email">
    <input type="password" class="inpDatos" id="inputPassword" placeholder="Ingrese Password">
    <input type="button" class="butModal" value="LogIn" id="buttonLogin">
    <input type="button" class="butModal" value="Register" id="buttonRegister">
    <input type="button" class="butModal butModalC" value="CERRAR" id="inputCerrar">

</section>
<section class="boxMessages">
    <div class="windowsMessages">
    
    </div>
    <div class="inferiorChat">
    <input type="text" placeholder="Mensaje..." id="inputMensaje" >
    <input type="button" value="Enviar" id="buttonMessage">
    </div>
</section>

{{>footer}}
<script src="/socket.io/socket.io.js"></script>
<script src="../static/js/chatWindows.js"></script>
