    <form id ="formulario" action="">
        <input type="text" placeholder="Titulo Del Producto">
        <input type="text" placeholder="Descricion">
        <input type="number" placeholder="Precio">
        <input type="number" placeholder="Codigo">
        <input type="text" name="thumbnail" placeholder="thumbnail">
        <input type="number" placeholder="Stock">
        <select id="selectID" name="peticion">
        <option value="postSelect">POST</option>
        <option value="getSelect">GET</option>
        <option value="putSelect">PUT</option>
        <option value="deleteSelect">DELETE</option>
        </select>
        <input id="buttonFormulario" type="button" value="Enviar Peticion">
    </form>