
{{>navbar}}

<p>
    Lista de productos guardados en la Base de datos
</p>

{{#if hayProductos}}
<ul>
    {{#each productos}}
    <li>
        {{this.title}}
        {{this.description}}

    </li>
    {{/each}}
</ul>
{{else}}
<p>Aun no hay productos para mostrar</p>
{{/if}}