
{{>navbarNoConectado}}
 <div class="">
    <form action=""  method="post" id="formRegister">
        <label for="email">Email:</label>
        <input type="text" name="email" id="email">
        <label for="first_name">Nombre:</label>
        <input type="text" name="first_name" id="first_name">
        <label for="last_name">Apellido:</label>
        <input type="text" name="last_name" id="last_name">
        <label for="age">Años:</label>
        <input type="number" name="age" id="age">
        <label for="password">Constraseña</label>
        <input type="password" name="password" id="password">
        <button type="submit" id="enviarRegistro">Registrarse</button>
        
    </form>
 </div>

<script src="../static/js/register.js"></script>
{{>footer}}