body{
    background-color: rgba(0, 64, 255, 0.74);
    
}
.centrarElementos{
    display: flex;
}
.navBar{
   
    display: flex;  
    justify-content: space-around;
    border:  solid 1px black;
}

.sectionForms{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.selectForms{
    width: 30%;
    margin-bottom: 10px ;
}
.formulario{
    display: flex;
    gap: 7px;
    flex-direction: column;
    width: 40%;
}

ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding: 10px;
    flex-direction: row;
  
}
li{
    margin:10px 10px 10px 10px
}
a{    
    border: solid 2px black;
    border-radius: 35%;
    margin: 10 10px 5px 10px;
    color: black;
    text-decoration: none;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:10px;
    transition: all 1s;
}
a:hover{
    color: beige;
    border:solid 2px white;
    text-decoration: underline;
}
.container{
    display: flex;
    justify-content: center;
}
.boxElement{
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 20px;
}

.box{
    margin-right: 20px;
    border: solid 2px rgb(255, 255, 255);
    width: 330px;
    background-color: #3498db;
    display: inline-block;
    vertical-align: top;
}

.hidden{
   display: none;
}



footer{
    margin-top: 5%;
    border: 1px solid black;
}